asgiref==3.8.1
Babel==2.15.0
colorama==0.4.6
Django==5.1.1
django-appointment==3.7.4
django-filter==24.3
django-phonenumber-field==8.0.0
djangorestframework==3.15.2
drf-yasg==1.21.7
gunicorn==23.0.0
inflection==0.5.1
Markdown==3.7
packaging==24.1
phonenumbers==8.13.42
pillow==10.4.0
psycopg2-binary==2.9.9
pytz==2024.2
PyYAML==6.0.2
sqlparse==0.5.1
uritemplate==4.1.1
whitenoise==6.7.0
