{% extends "base.html" %}

{% load form_filters %}

{% block title %}Edit Doctor{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Edit Doctor</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        
                        <!-- User fields -->
                        <div class="form-group mb-3">
                            <label for="id_username">Username:</label>
                            {{ form.username }}
                        </div>
                        
                        <div class="form-group mb-3">
                            <label for="id_email">Email:</label>
                            {{ form.email }}
                        </div>

                        <div class="mb-3">
                            <label for="id_first_name" class="form-label">First Name:</label>
                            {{ form.first_name }}
                        </div>

                        <div class="mb-3">
                            <label for="id_last_name" class="form-label">Last Name:</label>
                            {{ form.last_name }}
                        </div>

                        <div class="form-group mb-3">
                            <label for="id_phone_number">Phone number:</label>
                            {{ form.phone_number }}
                        </div>

                        <!-- Doctor fields -->
                        <div class="form-group mb-3">
                            <label for="id_npi">NPI:</label>
                            {{ form.npi }}
                        </div>

                        <div class="form-group mb-3">
                            <label for="id_specialties">Specialties:</label>
                            <div>
                                {% for checkbox in form.specialties %}
                                    <div class="form-check">
                                        {{ checkbox.tag }}  <!-- This renders the checkbox -->
                                        <label class="form-check-label">{{ checkbox.choice_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
